In [2]:
# import dependencies
import pandas as pd

In [15]:
# read in csv file
data = pd.read_csv("Data/Fetal_Deaths_2005-2019.csv")
data.head()

,Notes,Standard Residence States,Standard Residence States Code,Mother's Bridged Race/Hispanic Origin,Mother's Bridged Race/Hispanic Origin Code,Age of Mother Year,Age of Mother Year Code,Delivery Place,Delivery Place Code,Delivery Method,Delivery Method Code,Fetal Deaths,Percent of Total Deaths
0,NaN,Alabama,1.0,Mexican,2148-5,19 years,19.0,In Hospital,1.0,Vaginal,1.0,15.0,0.0
1,NaN,Alabama,1.0,Mexican,2148-5,21 years,21.0,In Hospital,1.0,Vaginal,1.0,11.0,0.0
2,NaN,Alabama,1.0,Mexican,2148-5,22 years,22.0,In Hospital,1.0,Vaginal,1.0,11.0,0.0
3,NaN,Alabama,1.0,Mexican,2148-5,23 years,23.0,In Hospital,1.0,Vaginal,1.0,11.0,0.0
4,NaN,Alabama,1.0,Mexican,2148-5,24 years,24.0,In Hospital,1.0,Vaginal,1.0,10.0,0.0

In [16]:
# create comprehensive data frame
data_df = pd.DataFrame(data)
data_df.head()

,Notes,Standard Residence States,Standard Residence States Code,Mother's Bridged Race/Hispanic Origin,Mother's Bridged Race/Hispanic Origin Code,Age of Mother Year,Age of Mother Year Code,Delivery Place,Delivery Place Code,Delivery Method,Delivery Method Code,Fetal Deaths,Percent of Total Deaths
0,NaN,Alabama,1.0,Mexican,2148-5,19 years,19.0,In Hospital,1.0,Vaginal,1.0,15.0,0.0
1,NaN,Alabama,1.0,Mexican,2148-5,21 years,21.0,In Hospital,1.0,Vaginal,1.0,11.0,0.0
2,NaN,Alabama,1.0,Mexican,2148-5,22 years,22.0,In Hospital,1.0,Vaginal,1.0,11.0,0.0
3,NaN,Alabama,1.0,Mexican,2148-5,23 years,23.0,In Hospital,1.0,Vaginal,1.0,11.0,0.0
4,NaN,Alabama,1.0,Mexican,2148-5,24 years,24.0,In Hospital,1.0,Vaginal,1.0,10.0,0.0

In [18]:
# dropping unneeded columns
data_df = data_df.drop(columns =['Notes', 'Standard Residence States Code', 'Delivery Place Code', 'Delivery Method Code'])
data_df

,Standard Residence States,Mother's Bridged Race/Hispanic Origin,Mother's Bridged Race/Hispanic Origin Code,Age of Mother Year,Age of Mother Year Code,Delivery Place,Delivery Method,Fetal Deaths,Percent of Total Deaths
0,Alabama,Mexican,2148-5,19 years,19.0,In Hospital,Vaginal,15.0,0.0
1,Alabama,Mexican,2148-5,21 years,21.0,In Hospital,Vaginal,11.0,0.0
2,Alabama,Mexican,2148-5,22 years,22.0,In Hospital,Vaginal,11.0,0.0
3,Alabama,Mexican,2148-5,23 years,23.0,In Hospital,Vaginal,11.0,0.0
4,Alabama,Mexican,2148-5,24 years,24.0,In Hospital,Vaginal,10.0,0.0
...,...,...,...,...,...,...,...,...,...
6404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# dropping null rows where all fields are null
data_df = data_df.dropna(how = 'all')
data_df

,Standard Residence States,Mother's Bridged Race/Hispanic Origin,Mother's Bridged Race/Hispanic Origin Code,Age of Mother Year,Age of Mother Year Code,Delivery Place,Delivery Method,Fetal Deaths,Percent of Total Deaths
0,Alabama,Mexican,2148-5,19 years,19.0,In Hospital,Vaginal,15.0,0.0
1,Alabama,Mexican,2148-5,21 years,21.0,In Hospital,Vaginal,11.0,0.0
2,Alabama,Mexican,2148-5,22 years,22.0,In Hospital,Vaginal,11.0,0.0
3,Alabama,Mexican,2148-5,23 years,23.0,In Hospital,Vaginal,11.0,0.0
4,Alabama,Mexican,2148-5,24 years,24.0,In Hospital,Vaginal,10.0,0.0
...,...,...,...,...,...,...,...,...,...
6369,Wyoming,Non-Hispanic White,6,33 years,33.0,In Hospital,Vaginal,13.0,0.0
6370,Wyoming,Non-Hispanic White,6,35 years,35.0,In Hospital,Vaginal,13.0,0.0
6371,Wyoming,Non-Hispanic White,6,36 years,36.0,In Hospital,Vaginal,10.0,0.0
6372,Wyoming,Non-Hispanic White,6,37 years,37.0,In Hospital,Vaginal,12.0,0.0
6373,Wyoming,Non-Hispanic White,6,39 years,39.0,In Hospital,Vaginal,10.0,0.0

In [20]:
# rename columns
data_df = data_df.rename(columns={
    "Standard Residence States": "state",
    "Mother's Bridged Race/Hispanic Origin": "race_hispanic_origin",
    "Mother's Bridged Race/Hispanic Origin Code": "race_code",
    "Age of Mother Year": "age_mother",
    "Age of Mother Year Code": "age",
    "Delivery Place": "delivery_place",
    "Delivery Method": "delivery_method",
    "Fetal Deaths": "fetal_deaths",
    "Percent of Total Deaths": "percent_deaths"
})
data_df

,state,race_hispanic_origin,race_code,age_mother,age,delivery_place,delivery_method,fetal_deaths,percent_deaths
0,Alabama,Mexican,2148-5,19 years,19.0,In Hospital,Vaginal,15.0,0.0
1,Alabama,Mexican,2148-5,21 years,21.0,In Hospital,Vaginal,11.0,0.0
2,Alabama,Mexican,2148-5,22 years,22.0,In Hospital,Vaginal,11.0,0.0
3,Alabama,Mexican,2148-5,23 years,23.0,In Hospital,Vaginal,11.0,0.0
4,Alabama,Mexican,2148-5,24 years,24.0,In Hospital,Vaginal,10.0,0.0
...,...,...,...,...,...,...,...,...,...
6369,Wyoming,Non-Hispanic White,6,33 years,33.0,In Hospital,Vaginal,13.0,0.0
6370,Wyoming,Non-Hispanic White,6,35 years,35.0,In Hospital,Vaginal,13.0,0.0
6371,Wyoming,Non-Hispanic White,6,36 years,36.0,In Hospital,Vaginal,10.0,0.0
6372,Wyoming,Non-Hispanic White,6,37 years,37.0,In Hospital,Vaginal,12.0,0.0
6373,Wyoming,Non-Hispanic White,6,39 years,39.0,In Hospital,Vaginal,10.0,0.0

In [21]:
# drop columns now that they have been renamed
data_df = data_df.drop(columns =['race_code','percent_deaths'])
data_df

,state,race_hispanic_origin,age_mother,age,delivery_place,delivery_method,fetal_deaths
0,Alabama,Mexican,19 years,19.0,In Hospital,Vaginal,15.0
1,Alabama,Mexican,21 years,21.0,In Hospital,Vaginal,11.0
2,Alabama,Mexican,22 years,22.0,In Hospital,Vaginal,11.0
3,Alabama,Mexican,23 years,23.0,In Hospital,Vaginal,11.0
4,Alabama,Mexican,24 years,24.0,In Hospital,Vaginal,10.0
...,...,...,...,...,...,...,...
6369,Wyoming,Non-Hispanic White,33 years,33.0,In Hospital,Vaginal,13.0
6370,Wyoming,Non-Hispanic White,35 years,35.0,In Hospital,Vaginal,13.0
6371,Wyoming,Non-Hispanic White,36 years,36.0,In Hospital,Vaginal,10.0
6372,Wyoming,Non-Hispanic White,37 years,37.0,In Hospital,Vaginal,12.0
6373,Wyoming,Non-Hispanic White,39 years,39.0,In Hospital,Vaginal,10.0

In [ ]:
# upload to Mongo